.defectsList{
    display: flex;
    flex-direction: column;
}

.defectsList h2{
    margin-bottom: 20px;
}   

.defectsList a{
    text-decoration: none;
    color: black;
}

.defectsList a:hover{
    text-decoration: none;
    font-weight: 600;
}

.defectsList .titles{
    background-color: rgb(197, 197, 197);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 0 10px 10px ;
    border-radius: 5px;
    height: 40px;
}

.defectsList .titles p{
    margin-bottom: 0;
}

.defectBlock img{
    width: 20px;
    margin-top: 14px;
    cursor: pointer;
}

.defectBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    padding-left: 5px;
    text-overflow: ellipsis;
}

.defectBlock p{
    font-size: medium;
    margin: 10px 0;
    padding: 5px 5px;
}

.defectBlock .status{
    width: fit-content;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0;
}