.defectBlock p {
  padding: 0 20px;
}

.defectBlock h3 {
  display: inline;
}

.defectBlock .defectHeader {
  background-color: rgb(197, 197, 197);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.defectBlock .defectHeader .status {
  display: inline;
  width: fit-content;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0 20px;
}

.defectBlock img {
  padding-left: 20px;
}

.defectBlock img:hover {
  cursor: pointer;
}

.defectBlock button {
  margin: 10px 20px;
}

.biggerPhotoBlock {
  width: auto;
  text-align: center;
  padding: 20px;
  margin-top: 5em;
}

.biggerPhotoBlock img {
  height: 40%;
  width: 40%;
}

.closeBlock img {
  position: fixed;
  top: 4rem;
  right: 28%;
  width: 40px;
  height: 40px;
}

.closeBlock img:hover {
  cursor: pointer;
}
